.darkMode {
    color: #fff;
    background-color: #37383F;
}
.lightMode {
    color: #000;
    background-color: #fff;
}
.bg-carousel {
    background-color: rgba(0, 0, 0, 0.3);
}
.square {
    width: 3em;
    height: 3em;
    margin: 0.5em;
    border-radius: 5px;
}
.text-vertical-align {
    vertical-align: middle;
    font-size: 1em;
}
.articleText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    line-height: 4em;
}
.btn-bg {
    background-color: rgb(208, 209, 209);
}
.text-color {
    color: rgba(0,0,0,.55);
}
@media screen and (max-width: 767px) {
    .square {
        width: 1.5em;
        height: 1.5em;
    }
    .articleText {
        line-height: 2.5em;
    }
}